@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/************************************************************
BASE
*************************************************************/

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  background-color: f0f0f0;
}

/************************************************************
TYPOGRAPHY
*************************************************************/

h1{
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  line-height: 1;
}

p,
button{
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.2;
}

b{
  font-weight: 700;
}

blockquote{
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  line-height: 1;
}

/************************************************************
COLORS
*************************************************************/

.aqua{
  background-color: #F5EFED;
}

.green{
  background-color: #1A535C;
}

.turquoise{
  background-color: #4ECDC4;
}

.red{
  background-color: #FF6B6B;
}

.yellow{
  background-color: #FFE66D;
}

/************************************************************
NAVIGATIONS
*************************************************************/

[class*="nav-"] {
  height: 70px;
  width: 100%;
  background-color: #1A535C;
}

.nav-bottom{
   position:fixed;
   left:0px;
   bottom:0px;
}

/************************************************************
CONTENT
*************************************************************/

.view{
  width: 100%;
  height: 100%;
  background-color: #F5EFED;
}

.content{
  margin: 0;
  width: 100%;
  text-align: center;
}

.grid{
  margin: 0 auto;
  max-width: 760px;
  height: 68vh;
  padding: 5px;
}

.col{
  height: 50%;
}

/*.col.pop-up{
  height: 68vh;
  position: fixed;
  max-width: 750px;
}*/

.unit{
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #b3b3b3;
  background-color: #e6e6e6;
  transition: background-color, border-bottom, 250ms linear;
  cursor: pointer;
  outline: none;
}

.unit:hover {
    background-color: #FFE66D;
    border-bottom: 3px solid #b3b3b3;
}

button:active {
    background-color: #4cef8b;
    border-bottom: 1px solid #e6e6e6;
}

button{
  margin: 20px auto;
  padding: 20px 80px;
  border: 0;
  border-bottom: 5px solid #27ae60;
  border-radius: 5px;
  font-size: 1em;
  color: #ffffff;
  background-color: #2ecc71;
  cursor: pointer;
  transition: border-bottom, background-color, 150ms linear;
  outline: none;
  letter-spacing: 1.5;
}

button:hover {
    background-color: #34e57e;
    border-bottom: 3px solid #27ae60;
}

button:active {
    background-color: #4cef8b;
    border-bottom: 1px solid #27ae60;
}

/************************************************************
GRID SYSTEM
*************************************************************/


.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

[class*="col-"] {
  position: relative;
  float: left;
  padding: 5px;
}

.col-1{
  width: 100%;
}

.col-1-2{
  width: 50%;
}

.col-1-3{
  width: 33.3333%;
}

.col-2-3{
  width: 66.6666%;
}


/************************************************************
MEDIA QUERY
*************************************************************/


@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .grid {
      height: 64vh;
  }
}

